<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookMarket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookMarket.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .BagHolder{
            cursor: pointer;
        }
        nav img{
            width:50px;
            position:relative;
        }
        .BagHolder span{
            position:absolute;
            font-weight:700;
            right:0;
            bottom:0;
            border-radius:50%;
            width:25px;
            height:25px;
            background:red;
            color:white;
            display:flex;
            align-items:center;
            justify-content:center;
            transform:translate(-50%,-50%);
        }
    </style>
</head>
    <body>
    <header>
        <partial name="_NavPartial">
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - BookMarket - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        // Function to update bag item count
        function updateBagItemCount() {
            $.ajax({
                url: "/Bag/GetBagItemCount", // Corrected URL
                method: "GET",
                success: function (data) {
                    $("#bagItemCount").text(data.itemCount);
                },
                error: function () {
                    console.error("Error fetching bag item count");
                }
            });
        }
        // Call the function when the page loads
        $(document).ready(function () {
            updateBagItemCount();
        });
    </script>



</body>
</html>
